<div class="wrapper row2">
	<div id="hpage_featured" class="clear">
		<div class="left_float_reg clear">
			<div class="reg_form_container">
				<%= render 'form' %>
			</div>
		</div>
		<div class="right_float_reg_top">
			<h2>Why Do We Standout?</h2>
			<ul>
				<% @intro_texts.each do |text| %>
					<li><%= text %></li>
				<% end %>
			</ul>
			<% if @date_time['boston'].present? %>
				<h2>Boston Location Schedule:</h2>
				<ul>
					<% @date_time['boston'].each do |dt| %>
						<li><%= dt %></li>
					<% end %>
				</ul>
			<% end %>
			<% if @date_time['braintre'].present? %>
				<h2>Braintree Location Schedule:</h2>
				<ul>
					<% @date_time['braintree'].each do |dt| %>
						<li><%= dt %></li>
					<% end %>
				</ul>
			<% end %>
			<% if @date_time['virtual-chinese'].present? %>
				<h2>Virtual Chinese Class via Zoom, Ms. Serena:</h2>
				<ul>
					<% @date_time['virtual-chinese'].each do |dt| %>
						<li><%= dt %></li>
					<% end %>
				</ul>
			<% end %>
			<% if @date_time['virtual-chinese2'].present? %>
				<h2>Virtual Chinese Class via Zoom, Ms. BaoBao:</h2>
				<ul>
					<% @date_time['virtual-chinese2'].each do |dt| %>
						<li><%= dt %></li>
					<% end %>
				</ul>
			<% end %>
			<% if @date_time['virtual-spanish'].present? %>
				<h2>Virtual Spanish Class via Zoom, Ms. Amaia:</h2>
				<ul>
					<% @date_time['virtual-spanish'].each do |dt| %>
						<li><%= dt %></li>
					<% end %>
				</ul>
			<% end %>
		</div>
		<br/>
		<div class="right_float_reg_top">
			<h2>Join Us For The Fun Ride!</h2>
			<div style="margin:18px 12px 12px 12px;">
				<%= image_tag("/assets/happy-kids-learning.jpg")%>
			</div>
		</div>
		<div class="health_sec">
			<p>Please attach a note, describing any special needs (medical, behavioral, emotional, etc.) and/or allergies. Please note that no nurse is on duty during Alpha Beta classes, and that staff have no access to IEPs or medications including epi-pens and inhalers</p>
		</div>
		</div>
	</div>
</div>