<div class="wrapper row2">
	<div id="hpage_featured" class="clear">
		<div class="left_float_cs clear">
			<div class="cs_form_container">
				<%= form_tag(contact_us_pages_path, :method => "post", :id => 'cs_form') do %>
					<h1>Let your kid try a new language!</h1>
					<%= "I am interested in: " %><br/><br/>
					<% @interests.each do |interest| %>
						<%= radio_button_tag 'picked_interest', interest.to_s.html_safe %>
						<%= h interest.to_s.html_safe %>&nbsp;
					<% end %><br/><br/>
					<%= "Language of interest:" %><br/><br/>
					<% @lang_of_interest.each do |loi| %>
						<%= check_box_tag 'picked_loi[]', loi.to_s.html_safe %>
						<%= h loi.to_s.html_safe %>&nbsp;
					<% end %><br/><br/>
					<%= label_tag "Parent's First Name (required): "%><%= text_field_tag(:parent_first_name)%><br/>
					<%= label_tag "Parent's Last Name (required): "%><%= text_field_tag(:parent_last_name)%><br/>
					<%= label_tag "Phone Number (required): "%><%= text_field_tag(:phone_number)%><br/>
					<%= label_tag "Email Address (required): "%><%= text_field_tag(:email_address)%><br/><br/>
					<%= label_tag "Notes:"%><br/>
					<%= text_area("notes", :text, cols: 43, rows: 4, id: 'cs_form_ta')%><br/>
					<%= submit_tag("Submit") %>
					<%= submit_tag("Clear Form", :type => :reset)%>
				<% end %>
			</div>
		</div>
		<div class="right_float_cs">
			<div style="margin-left:45px;"><%= image_tag("/assets/xiaohaixuexi-013.jpg") %></div>
		</div>
		</div>
	</div>
</div>