<div id="footer" class="clear">
	<div class="footbox">
		<h2>Quick Links</h2>
		<ul>
			<% @quick_links.each do |qlink, qlink_source| %>
				<li><%= link_to(qlink, qlink_source)%></li>
			<% end %>
			<li style="color:#fff;">© 2020 Alpha Beta Language School</li>
		</ul>
	</div>
	<div class="footbox">
      <h2>How To Reach Us</h2>
	  <address>
		Tel: (781) 519 - 9319<br />
		Email: admin@alphabetaschool.org<br />
	  </address>
	</div>
	<div class="footbox" style="margin-left:175px;">
		<h2>Learn More About Us</h2>
		<table cellspacing="2" style="margin-top:-5px; margin-left:5px;">
		<tr>
			<td>
				<a href="<%= @facebook_link %>" target="_blank"><%= image_tag "/assets/facebook_icon.png" %></a>
			</td>
			<td>
				<a href="<%= @facebook_link %>" target="_blank"><span style="font-size:15px; font-family:sans-serif;">Facebook</span></a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="<%= @twitter_link %>" target="_blank"><%= image_tag "/assets/twitter_icon.png" %></a>
			</td>
			<td>
				<a href="<%= @twitter_link %>" target="_blank"><span style="font-size:15px; font-family:sans-serif;">Twitter</span></a>
			</td>
		</tr>
		<tr>
			<td>
				<a href="<%= @youtube_link %>" target="_blank"><%= image_tag "/assets/youtube_icon.png" %></a>
			</td>
			<td>
				<a href="<%= @youtube_link %>" target="_blank"><span style="font-size:15px; font-family:sans-serif;">Youtube</span></a>
			</td>
		</tr>
		</table>
		<div style="padding-top: 5px; padding-left: 8px;">
		  <span style="color: #979797; font-size:15px; font-family:sans-serif;">WeChat</span><br/>
		  <%= image_tag "/assets/wechat-qr.jpeg" %>
		</div>
	</div>
</div>