<!DOCTYPE html>
<html>
<head>
  <title>Alpha Beta Language School</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="top">
	<div class="wrapper row1">
		<%= render :partial => "layouts/header" %>
		<%= render :partial => "layouts/nav_menu" %>
	</div>
	
	<%= yield %>
	
   	<div class="wrapper row4">
   		<%= render :partial => "layouts/footer" %>
   	</div>
</body>
</html>
